@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  text-align: right;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* Smooth scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #fef3c7;
}
::-webkit-scrollbar-thumb {
  background: #d97706;
  border-radius: 3px;
}

